<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books, Authors, BookAuthors</title>
</head>
<body>
    <h1>Books &amp; Authors</h1>
    
    <h2>Books &amp; Authors List</h2>
    <table border="1">
        <thead>
            <tr>
                {% for column in bookauthor_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in bookauthors %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Book Details</h2>
    <table border="1">
        <thead>
            <tr>
                {% for column in book_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in books %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Author Details</h2>
    <table border="1">
        <thead>
            <tr>
                {% for column in author_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in authors %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>