<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>We're glad to see you. Click below to view the data from the database:</p>
    <a href="{{ url_for('bookauthor') }}">Go to Books &amp; Author Page</a><br>
    <a href="{{ url_for('publisher') }}">Go to Publisher Page</a><br>
    <a href="{{ url_for('login') }}">Go to Login Page</a><br>
</body>
</html>