<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header></header>

    <!-- Login Section -->
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="form-group">
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button">Login</button>
        </form>
        <p><a href="{{ url_for('home') }}" class="button">Back to Home</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>Elijah Day, Franciso Henriques, Zachary Wood. CSI-3450 Winter 2026</p>
    </footer>
</body>
</html>
